nav
    background #367ca0
button
    font-size 1.2em
    padding 0.25em 1em

            

.lt-ie10                             
    .search
        label
            position relative
            display inline-block
            left auto
    #site-header
        nav
            background #367ca0
            ul
                li
                    a
                        border-right solid 1px white
                        border-radius 0
                        width 98%
                        &:hover
                            border-right solid 1px white
